.app-store-product-card {
  .app-store-product-card__content {
    padding: 0;
  }

  .app-store-product-card__thumbnail {
    height: auto;
    width: 100%;
  }
}

.app-store-slides-spinner {
  align-items: center;
  display: flex;
  height: 250px;
  justify-content: center;
}

.app-store-slides-item__thumbnail {
  height: auto;
  width: 100%;
}
