<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Product Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="productsState.matches('loading')">
    <ion-skeleton-text animated style="margin-top: 0; width: 100%; height: 250px"></ion-skeleton-text>
  </ng-container>
  <ng-container *ngIf="productsState.matches('success')">
    <app-slides></app-slides>
    <ion-text>
      <h5 class="ion-padding">Product Name Here</h5>
    </ion-text>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button expand="block" fill="outline">Add To Cart</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
